// Navigation

$Btn-Purple: #9898ca;
$Black: #080404;
$White: #f3f5f0;
$Underline: #929cc1;

// Primary
$Light-Pink: #f7ede3;
$Purple: rgba(217, 195, 233, 0.95);

// Projects Page

$Projects-Background-Blue-Upper: rgba(149, 195, 231, 0.9);
$Projects-Background-Blue-Lower: rgba(154, 200, 234, 0.9);
$Projects-Card-Background: #f7ede3;
$Card-Pink: #f7ede3;

// Chats Page
$Background-Search-White: #ffffff;
$Background-Chats: #f4eade;
$Background-Message: #e0d6cc;
$Background-Send-Btn: #5784bb;

// Community Page
$Community-Background: rgba(172, 222, 211, 0.9);
$Btn-filter: #f2f6f0;
$Community-Card-Background: #f5ebe1;
$Light-Red: #ff655f;

// Profile Page
$Background: #acded3;
$LinkedIn-Btn: #5786ba;

// Login, Sibg-Up Page
$Sign-Background: rgba(216, 194, 233, 0.9);
